html, body {
  background-color: #096f91;
  padding: 0px;
  margin: 0px;
}

div#splash p {
  text-align: center;
  line-height: 1.2px;
  margin-bottom: 5.8vw;
}

#logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 12vw;
  color: white;
}

#logo span {
  font-weight: bold;
  color: black;
}

p#sc {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.8vw;
  letter-spacing: 0.13vw;
  margin-top: 2.2vw;
  color: white;
  #font-style: italic;
}

li {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9vw;
  letter-spacing: 0.13vw;
  color: white;
}

#splash hr {
  width: 45vw;
  border: 0vw solid #043342;
  height: 0.2vw;
  background-color: #043342;
  margin-bottom: 1px;
  margin-top: 1px;
}

